@import './utilities/mixins.scss';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';


a {
    color: var(--bs-black);
    text-decoration: none;
    &:hover {
        text-decoration: var(--bs-link-decoration);
    }
}

.post-thumbnail {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .search-bar {
    width: 100%;
    max-width: 300px;
  }
  .sort-options {
    margin-top: 20px;
  }
  .new-post-form {
    margin-top: 20px;
  }